  .main{
    padding: 0% 3% 0 3%
  }
  .page {
  border:1px solid black;
  background-image: url(images/rice-paper.png);
}
.scale:hover{
transition: all 0.2s ease;
box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.08);
}
.about-me{
background: #2f2f2f;
border: 1px solid black;
padding: 5px 5% 5px 5%;
margin: 1% 0 1% 0;
box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.about-me>p {
    max-width: 215px;
color: #f3f3f3 ;
}
.about-me>b{
  border-bottom: 1px dashed grey;
  margin-left: 30%;
  color: #f3f3f3 ;

}

.avatar{
  max-width: 250px;
  border: 1px solid #2e2e2e;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow:hidden;
  box-sizing: padding-box;
}
.avatar img{
  border-radius: 2px;
}
.logo {
	display: flex;
	justify-content:center;
  align-items:center;
  flex-flow: row wrap;
  border: 1px solid black;
	width: 100%;
  height:280px;
	padding-top:4%;
	padding-bottom: 13%;
	margin-top: 0.5%
}
.scale:hover{
transform: scale(1.01);
transition: all 0.3s ease;
box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.1);
}
.logo-image {
	width: 90px;
	height: 90px;
	border: 1px solid #39383a;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-lines {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 5%;
}

.logo-line {
	width: 43px;
	height: 2px;
	background-color: #39383a;
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo-lines__left .logo-line:nth-child(2) {
	width: 55px;
	margin-right: 22%;

}

.logo-lines__right .logo-line:nth-child(2) {
	width: 55px;
	margin-left: 22%;

}

.name {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 10.5px;
	margin-bottom: 10px;
}

.about-address {
	font-size: 13px;
	margin-bottom: 15px;
}

.about-contacts {
	font-size: 10px;
}

.about-contacts__link {
	text-decoration: none;
	color: #777777;
}
.center{
	flex-wrap: wrap;
	text-align: center;
	padding-left: 10%;
  padding-right: 10%;
  text-wrap:nowrap;
}
.myl-achievement{
  border: 1px solid black;
  background: #2e2e2e;
  padding: 5px 10px 5px 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);

}
.myl-achievement li{
color: #f3f3f3 ;
}
.myl-achievement>b{
  border-bottom: 1px dashed grey;
  margin-left: 35%;
  color: #f3f3f3 ;
}
.myl-achievement>p{
  max-width: 215px;
}

.skills{
  margin-left: 5%; 
}
.skills-list{
  padding: 0% 0% 0 0%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
transition: all 0.5s ease;
margin-top: 5%;
margin-bottom: 0%;
list-style-type:none;
}
h3{
  text-align:center;
}
h6{
opacity:0;
text-align:center;
}
.create-skill-item li{
  display: flex;
  justify-content: center;
}
.create-skill-item:hover {
  transform: scale(1.1) translateY(-5px);
  transition: all 0.7s ease;
  }
.create-skill-item:hover h6 {
  opacity:1;
  transition: all 1.5s ease;
}
.more-skills{
  font-family: Verdana sans-serif;
font-stretch: expanded;
padding: 5% 0 0 0;
}
.achievement-list {
    padding:0;
    list-style: none;
}

.achievement-list li {
   color: #506a6b;
}
.achievement-list li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.3s;
}
.achievement-list li:hover:before {
    color: #2f2f2f;
    content: "\2714";
}
.achievement-list li:hover{
  color: #2f2f2f;
}
